/* css样式初始化 */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body{
    background-color: #FFFAFA;
}
.list{
   width: 1300px;
   display: flex; 
   margin:50px auto;
   flex-wrap: wrap;
}
.list li{
    width:285px;
    height:410px;
    background-color:white;
    
    border-radius: 10px;
    margin-top:14px;
    box-shadow: 0 0 10px #dedede;

    list-style: none;

    border-radius: 5px;
    transition: all .2s;
}
.list img{
    margin-left: 20px;;
}

.title{
    font-size:28px;
    color:#333333;
}
.smalltitle{
    font-size: 20px;
    color: #b0b0b0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.price{
    font-size: 26px;
    color: #ff6700;
}
.list p{
    text-align: center;
}
.list li:hover{
    box-shadow: 0 10px 10px #aeaeae;
    transform:translateY(-5px);
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.textCommentTitle {
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 13px 14px;
    width: 620px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Microsoft soft";
    
}
.textComment {
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 13px 14px;
    width: 620px;
    height: 180px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
    text-align: left;
}

input:focus{
    border-color: #7eb9ce;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
textarea:focus{
    border-color: #7eb9ce;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

html {
    font-size: 62.5%;
}
/* header样式初始化*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #3F3D56;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 5px #888888;
}

.header .logo {
    color: white;
    padding: 0 1rem;
}
/* 导航样式 */
.navbar ul{
    display: flex;
}

.navbar ul li{
    font-weight: bold;
    width: 128px;
    list-style: none;
    text-align:center;
}
.navbar ul li a {
    width: 128px;
    line-height: 45px;
    font-size: 1.7rem;
    color: white;
}
.navbar ul li a:hover{
    color: #009933;
}
/* 二级菜单样式 */
.navbar ul li ul{
    position: absolute;
    display: none;
    width: 128px;
    line-height: 45px;
}

.navbar ul li ul li{
    background-color: #3F3D56;
}
/* 悬浮展开二级菜单 */
.navbar ul li ul li a:hover{
    color: white;
}
.navbar ul li ul li:hover{
    background-color: #009933;
}

.navbar ul li:hover ul{
    display: block;
}
/* 网站内容*/
.content{
    margin: 60px;
}
.content1{
    margin: 60px;
  
}
.content2{
    margin-top:20px;
}



.page {
    height: 34px;
    line-height: 34px;
    align-items: center;
}
.page a {
   display: inline-block;
   border: 1px solid #ededed;
   padding: 0 12px;
   color: #3e3e3e;
   font-size: 14px;
   font-family: tahoma,simsun;
   text-decoration: none;
}
.page a:hover {
   color: rgb(6, 92, 82);
   border-color: rgb(0, 255, 64);
}
.page .active,.page .active:hover {
   color: #fff;
   background: #f40;
   border: solid 1px #f40;
}

.mr-cont {
	margin: 20px auto;
	height: 565px;
	width: 950px;
	border: 2px solid rgb(3, 28, 111)
}
.mr-pic {
	float: left;
	margin: 50px auto
}
.mr-mess {
	float: right;
	width: 528px;
	margin: 5% 0;
}
dl {
	margin: 20px;
	text-align: center;
	width: 340px;
	height: 435px;
	border: 1px #999999 solid
}
dt {
	margin-top: 70px;
}
dd {
	float: left;
	margin: 30px 5px;
	border: 1px solid #CCC;
}
.mr-sel {
	margin-left: 50px;
	border: 1px solid #C00;
}

.list1~li {
	width: 120px;
	border: 1px dashed #999999;
	margin: 0 5px;
}
.mr-price {
	background: #FBECFF
}
.dul ul{
	margin:0px auto;
}


.box1{
    width:500px;
    border: 1px solid #ddd;
    margin: 50px auto 0;
    overflow: hidden;
}
.title1{
    width: 500px;
    height: 50px;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
}
.title1 span{
    display: inline-block;
    height: 50px;
    border-bottom: 2px solid red;
    font:18px '微软雅黑';
    color: #000;
    line-height: 50px;
    padding: 0 15px; 
}
.box1 ul{
    width:950px;
    margin: 20px 0 13px 20px; 
}
.box1 ul li{
    width: 160px;
    height: 68px;
    float:left;
    margin: 0 29px 25px 0;
}